:root {
  --primary: #F75A00;
  --primary-dark: #f34508;
  --secondary: #859448;
  --secondary-dark: #3A5E27;
  --background: #3D362B;
  --text: #F3F1ED;
  --border: #5C5346;
  --highlight: #E2C044;
  --shadow: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #F75A00;
    --primary-dark: #f34508;
    --secondary: #859448;
    --secondary-dark: #3A5E27;
    --background: #F3F1ED;
    --text: #3D362B;
    --border: #CFC6B8;
    --highlight: #E2C044;
    --shadow: rgba(0, 0, 0, 0.5);
  }
}